.right{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 70px 0;
}
.right-content{
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap:20px;
    width: 65%;
    border: 2px solid black;
    border-radius: 40px;
    background-color: white;
    border: none;
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.form-heading{
    display: flex;
    flex-direction: column;
    gap:5px;
    
}
.form-heading h1{

    color: rgb(37, 37, 148);
}
.credentials{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.credentials input{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid gray;
}

.forgot-pw{
    justify-content: space-around;
    display: flex;
    gap:35px;
}
.remember{
    display: flex;
    gap:10px;
}
.forgot-pw a{
    text-decoration: none;
    color:black
}
.buttons{
    display: flex;
    justify-content: space-around;
}
/* Add these styles to your login.css */

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-active {
    background-color:  rgb(37, 37, 148);; /* Active button color */
  }
  
  .btn-inactive {
    background-color: #6c757d; /* Inactive button color */
  }
form button{
    padding: 10px 20px;
    border-radius: 12px;
    background-color: rgb(37, 37, 148);
    color: white;
    font-size: 26px;
    font-weight: bold;
    border: none;
}
.sign-up{
    display: flex;
    /* justify-content: space-around; */
    gap:5px;
}
.sign-up span, p{
    cursor: pointer;
}
     

  