nav,
.nav-links {
    display: flex;
    flex-direction: column;
    color: white;
}


nav {
    padding: 20px 30px;
    background: #4d648b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3e4a6d, #4d648b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3e4a6d, #4d648b);
    /* Newer browsers */
    gap: 30px;
    width: 400px;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adding box shadow */
}


.navbar-logo h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.search-bar {
    text-align: center;
}

.search-bar>input {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    width: 350px;
}

.nav-links {
    list-style-type: none;
    gap: 35px;
    padding: 10px 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.items-div {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.nav-icon{
    filter: invert(1);
}
